/*general*/
*{
	box-sizing: border-box;
	font-family: Calibri;
}
.none{
	display:none!important;
}
body {
    padding: 0;
    margin: 0;
}
button{
	cursor:pointer;
	transition-property: transform;
	transition-duration: 0.05s;
	transition-timing-function: linear;
}
button:active{
	transform:scale(0.85);
}
/*Top Menu*/
.MWATopMenu {
    width: 100%;
    border-bottom: 2px solid #666;
    background-color: black;
    color: white;
	height: 40px;
	line-height: 38px;
}
.MWATopMenuLeftSection, .MWATopMenuRightSection{
	width: 50%;
    display: inline-block;
	vertical-align: middle;
}
.MWATopMenuLeftSection{
	padding-left: 10px;
}
.MWATopMenuRightSection {
	text-align: right;
	padding-right: 10px;
}
.MWATopMenuTitle {
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.MWATopMenuUserName {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 35px);
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.MWATopMenuUserImage {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
	height: 30px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #666;
}

/*MWA Sections*/
.MWAMainSection {
    width: 100%;
    height: calc(100vh - 40px);
}
.MWALeftPanel, .MWARightPanel {
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.MWALeftPanel {
    width: 250px;
    border-right: 1px solid #999;
    background-color: #efefef;
}
.MWARightPanel {
    width: calc(100% - 250px);
}
.MWALeftPanelTopBar {
    height: 51px;
    border-bottom: 1px solid #aaa;
    background-color: #dedede;
    padding: 10px;
}
.MWALeftPanelSerachInput, .MWALeftPanelSearchButton{
    height: 30px;
    display: inline-block;
    vertical-align: top;
}
.MWALeftPanelSearchInput {
    width: calc(100% - 35px);
    margin: 0;
    border: 1px solid #999;
    margin-right: 5px;
	vertical-align: middle;
	display: inline-block;
}
.MWALeftPanelSearchButton {
    width: 30px;
    border-radius: 5px;
    padding: 0;
    background-image: url(../images/search.png);
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: 0; 
	vertical-align: middle;
	display: inline-block;
}
.MWALeftPanelSearchButton:active{
    border: 1px;
}
.MWAWriteSection {
    padding: 3px;
    border-top: 2px solid #ccc;
    background-color: #dedede;
}
.MWAMessagesSection {
    overflow-x: hidden;
    overflow-y: scroll;
}
.MWANameSection {
    height: 51px;
    background-color: #efefef;
    border-bottom: 1px solid #666;
}
.MWALeftPanelBottomSection {
    position: relative;
    height: calc(100% - 51px);
}
.MWALeftPanelAddButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #ff2525;
    font-size: 35px;
    line-height: 50px;
}
.MWAWriteSectionTextInput {
    width: calc(100% - 50px - 10px);
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
	display: inline-block;
	vertical-align: middle;
	resize: none;
	border-radius: 5px;
	border: 1px solid #999;
}
.MWAWriteSectionSendButton {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid #666;
    font-size: 15px;
    font-weight: bold;
}
.MWANameLeftSection {
    width: calc(100% - 50px);
    display: inline-block;
    vertical-align: top;
}
.MWANameRightSection {
    width: 50px;
    display: inline-block;
    vertical-align: top;
	padding: 10px;
}
.MWANameSectionInfoButton {
    height: 30px;
    width: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 17px;
    font-weight: bold;
    color: #666;
}