/*general*/
*{
	box-sizing: border-box;
	font-family: Calibri;
}
.none{
	display:none!important;
}
body {
    padding: 0;
    margin: 0;
}
/*Top Menu*/
.MWATopMenu {
    width: 100%;
    border-bottom: 2px solid #666;
    background-color: black;
    color: white;
	height: 40px;
	line-height: 38px;
}
.MWATopMenuLeftSection, .MWATopMenuRightSection{
	width: 50%;
    display: inline-block;
	vertical-align: middle;
}
.MWATopMenuLeftSection{
	padding-left: 10px;
}
.MWATopMenuRightSection {
	text-align: right;
	padding-right: 10px;
}
.MWATopMenuTitle {
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.MWATopMenuUserName {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 35px);
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.MWATopMenuUserImage {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
	height: 30px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #666;
}

/*MWA Sections*/
.MWAMainSection {
    width: 100%;
    height: calc(100vh - 40px);
}
.MWALeftPanel, .MWARightPanel {
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.MWALeftPanel {
    width: 250px;
    border-right: 1px solid #999;
    background-color: #efefef;
}
.MWARightPanel {
    width: calc(100% - 250px);
}
.MWALeftPanelTopBar {
    height: 51px;
    border-bottom: 1px solid #aaa;
    background-color: #dedede;
    padding: 10px;
}
.MWALeftPanelSerachInput, .MWALeftPanelSearchButton{
    height: 30px;
    display: inline-block;
    vertical-align: top;
}
.MWALeftPanelSerachInput {
    width: calc(100% - 35px);
    margin: 0;
    border: 1px solid #999;
    margin-right: 5px;
}
.MWALeftPanelSearchButton {
    width: 30px;
    border-radius: 5px;
    padding: 0;
    background-image: url(../images/search.png);
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: 0; 
}
.MWALeftPanelSearchButton:active{
    border: 1px;
    transform:scale(0.85);
}